.dialogs {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

[role=alertdialog],
[role=dialog] {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  border: 8px solid #aeb7bd;
  background-color: #fff;
  min-height: 100vh;
}

@media screen and (min-width: 640px) {
  [role=alertdialog],
  [role=dialog] {
    position: absolute;
    top: 2rem;
    left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
    transform: translateX(-50%); /* move backwards 50% of this element's width */
    min-width: 610px; /* == breakpoint - left+right margin */
    min-height: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
.dialog_form_actions {
  text-align: right;
}

/* native <dialog> element uses the ::backdrop pseudo-element */
/* dialog::backdrop, */
.dialog-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 640px) {
  .dialog-backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}
.dialog-backdrop.active {
  display: block;
}

.no-scroll {
  overflow-y: auto !important;
}

/* this is added to the body when a dialog is open */
.has-dialog {
  overflow: hidden;
}