{% extends 'layout.html' %}

{% block pageTitle %}
  Registration complete - register for our new service
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block backLink %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-bottom-6">

      <h1 class="nhsuk-panel__title">
        Registration complete
      </h1>

      <div class="nhsuk-panel__body">
        Your reference number
        <br>
        <strong>HDJ2123F</strong>
      </div>

    </div>

    <p>
      We have sent you a confirmation email.
    </p>

    <h2>
      What happens next
    </h2>

    <p>
      You shall be contacted shortly with details on how to use our new service.
    </p>

  </div>
</div>
{% endblock %}
