{% extends 'layout.html' %}
{% set serviceDir = "service-good" %}

{% block pageTitle %}
  Register for our new service - NHS.UK
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
    <p class="app-phase-banner__content">
      <strong class="nhsuk-tag app-phase-banner__tag">
        Testing
      </strong>
      <span class="app-phase-banner__text">
        This is not a real service. This site is used for testing purposes only.
      </span>
    </p>
  </div>
</div>
{% endblock %}

{% block backLink %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Register for our new service</h1>

      <p>Use this service to:</p>

      <ul>
        <li>tell us your name</li>
        <li>tell us your date of birth</li>
        <li>tell us if you know your <a href="https://www.nhs.uk/using-the-nhs/about-the-nhs/what-is-an-nhs-number/">NHS number</a></li>
        <li>tell us if you have had certain conditions</li>
        <li>register your details</li>
      </ul>

      <p>Click on the 'Start now' button to continue.</p>

      <p>
        <a href="http://www.nhs.uk" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-4">Back to NHS.UK</a>
        <a href="/{{ serviceDir }}/step1" class="nhsuk-button nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-4">Start now</a>
      </p>

    </div>

    <aside class="nhsuk-grid-column-one-third">
      <div class="nhsuk-related-nav">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-2">Other NHS services</h2>
        <nav class="nhsuk-related-nav__nav-section">
          <ul class="nhsuk-related-nav__list">
            <li><a href="https://www.nhs.uk/nhs-services/urgent-and-emergency-care-services/">Urgent and emergency care services</a></li>
            <li><a href="https://www.nhs.uk/nhs-services/sexual-health-services/">Sexual health services</a></li>
            <li><a href="https://www.nhs.uk/service-search/pregnancy">Pregnancy services</a></li>
            <li><a href="https://www.nhs.uk/nhs-services/mental-health-services/" target="_blank">Mental health services (opens in new tab)</a></li>
          </ul>
        </nav>
      </div>
    </aside>

  </div>
{% endblock %}
