{% extends 'layout.html' %}
{% set backLinkPage = "start-page" %}
{% set serviceDir = "service-good" %}

{% block pageTitle %}
  {% if error %}Error: {% endif %}What is your name? - Register for our new service - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
      {% if noFirstName %}
        {% if noLastName %}
          {{ errorSummary({
            "titleText": "There is a problem",
            "errorList": [
              {
              "text": "Enter your first name",
              "href": "#first-name"
              },
              {
              "text": "Enter your last name",
              "href": "#last-name"
              }
            ]
          }) }}
        {% else %}
          {{ errorSummary({
            "titleText": "There is a problem",
            "errorList": [
              {
                "text": "Enter your first name",
                "href": "#first-name"
              }
            ]
          }) }}
        {% endif %}
      {% else %}
        {% if noLastName %}
          {{ errorSummary({
            "titleText": "There is a problem",
            "errorList": [
              {
                "text": "Enter your last name",
                "href": "#last-name"
              }
            ]
          }) }}
        {% endif %}
      {% endif %}
    {% endif %}

    <form action="/{{ serviceDir }}/step1" method="post">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What is your name?
            </h1>
          </legend>
          <div class="nhsuk-form-group{% if error %} nhsuk-form-group--error{% endif %}">
            <label class="nhsuk-label" for="first-name">
              First name
            </label>
            {% if noFirstName %}
              <span class="nhsuk-error-message" id="firstname-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span> Enter your first name
              </span>
              <input class="nhsuk-input nhsuk-u-width-three-quarters nhsuk-input--error" id="first-name" name="first-name" type="text" aria-describedby="firstname-error">
            {% else %}
              <input class="nhsuk-input nhsuk-u-width-three-quarters" id="first-name" name="first-name" type="text" value="{{ data['first-name'] }}">
            {% endif %}
          </div>
          <div class="nhsuk-form-group{% if error %} nhsuk-form-group--error{% endif %}">
            <label class="nhsuk-label" for="last-name">
              Last name
            </label>
            {% if noLastName %}
              <span class="nhsuk-error-message" id="lastname-error">
                <span class="nhsuk-u-visually-hidden">Error:</span> Enter your last name
              </span>
              <input class="nhsuk-input nhsuk-u-width-three-quarters nhsuk-input--error" id="last-name" name="last-name" type="text" aria-describedby="lastname-error">
            {% else %}
              <input class="nhsuk-input nhsuk-u-width-three-quarters" id="last-name" name="last-name" type="text" value="{{ data['last-name'] }}">
            {% endif %}
          </div>
        </fieldset>
        <button class="nhsuk-button">Continue</button>

      </form>

  </div>
</div>
{% endblock %}
