{% extends 'layout.html' %}
{% set backLinkPage = "step3" %}
{% set serviceDir = "service-good" %}

{% block pageTitle %}
  Have you had any of these conditions? - Register for our new service - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ serviceDir }}/step5" method="post">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="conditions-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Have you ever had any of these conditions?
              </h1>
            </legend>
            <span class="nhsuk-hint" id="conditions-hint">
              Select all that apply
            </span>
            <div class="nhsuk-checkboxes nhsuk-checkboxes--override">
              <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--order1">
                <input class="nhsuk-checkboxes__input" id="c-asthma" name="condition" type="checkbox" value="Asthma"{{ checked("condition", "Asthma") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="c-asthma">
                  Asthma
                </label>
              </div>
              <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--order2">
                <input class="nhsuk-checkboxes__input" id="c-epilepsy" name="condition" type="checkbox" value="Epilepsy"{{ checked("condition", "Epilepsy") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="c-epilepsy">
                  Epilepsy
                </label>
              </div>
              <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--order3">
                <input class="nhsuk-checkboxes__input" id="c-high-blood-pressure" name="condition" type="checkbox" value="High blood pressure"{{ checked("condition", "High blood pressure") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="c-high-blood-pressure">
                  High blood pressure
                </label>
              </div>
              <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--order4 nhsuk-checkboxes__item--bottom-margin">
                <input class="nhsuk-checkboxes__input" id="c-heart-disease" name="condition" type="checkbox" value="Heart disease"{{ checked("condition", "Heart disease") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="c-heart-disease">
                  Heart disease
                </label>
              </div>
              <input name="condition" type="hidden" value=" ">
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button">Continue</button>
      </form>

    </div>
  </div>
{% endblock %}
