{% extends 'layout.html' %}

{% block pageTitle %}
  Answers - accessibility training - NHS
{% endblock %}

{% block backLink %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters accessibility-answers">

      <h1>Answers - accessibility issues for the register for a service</h1>

      <nav>
        <h2>Pages</h2>
        <ul class="nhsuk-u-margin-bottom-5">
          <li><a href="#start">Start page</a></li>
          <li><a href="#name">What is yout name?</a></li>
          <li><a href="#dob">What is your date of birth?</a></li>
          <li><a href="#nhs">Do you know your NHS number?</a></li>
          <li><a href="#conditions">Have you ever had any of these conditions?</a></li>
          <li><a href="#answers">Check your answers?</a></li>
          <li><a href="#complete">Registration complete</a></li>
        </ul>
      </nav>

      <h2 id="start">Start page</h2>
      <ol>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Two H1 tags</h3>
          <p>There are two <code>H1</code> headings on the page - "Register for our new service" and "Other NHS services". The second one has been styled to be smaller. However, it is good practice to have only one <code>H1</code> tag on a page.</p>
          <p>The <code>H1</code> is the most important heading and describes the overall purpose of the page. Screen reader users can use headings to navigate a page by skipping to them so having a good heading structure helps.</p>
          <h4>Understanding WCAG regarding headers</h4>
          <ul>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html">1.3.1 Info and Relationships</a></li>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/bypass-blocks.html">2.4.1 Bypass Blocks</a></li>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/headings-and-labels.html">2.4.6 Headings and Labels</a></li>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/section-headings.html">2.4.10 Section Headings</a></li>
          </ul>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>"NHS number" link text not underlined</h3>
          <p>Some users may not be able to perceive colour differences so would not identify this as a link. Links should be underlined or have some other non-colour visual distinction.</p>
          <h4>Understanding WCAG regarding use of colour</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html">1.4.1 Use of Color</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Do not rely on colour or position alone</h3>
          <p>The instruction to "Click on the green 'Start now' button below to continue" has a few potential problems.</p>
          <p>By saying that the button is green isolates those that have a colour vision deficiency who may not be able to distinguish between colours. Hopefully the fact that the button has the "Start now" text would be sufficient for users to understand what to do next.</p>
          <p>Also if the page is zoomed in, the button may not be immediately below the text so may cause confusion. In this case the "Back to NHS.UK" is the next element that would be seen and read by a screen reader.</p>
          <p>A screen reader user may not be able to see colour and position.</p>
          <h4>Understanding WCAG regarding sensory characteristics</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/sensory-characteristics">1.3.3 Sensory characteristics</a></p>
          <h4>Understanding WCAG regarding use of colour</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html">1.4.1 Use of Color</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>"Mental health services" link opens in new tab</h3>
          <p>Opening a new tab (or window) when a link is activated can be disorienting for some users if they are not warned in advance. Users may be unaware that it has happened and won't be able to use the back button as there is no history in the new tab.</p>
          <h4>Techniques for opening new tabs or windows</h4>
          <ul>
            <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/html/H83">Using the target attribute to open a new window on user request and indicating this in link text</a>
            <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/general/G200">Opening new windows and tabs from a link only when necessary</a></li>
            <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/general/G201">Giving users advanced warning when opening a new window</a></li>
          </ul>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Orientation is locked to portrait view</h3>
          <p>When viewing this page on a mobile device in landscape mode the content does not adapt to make it easily viewable. The orientation is locked in portrait mode. This could cause problems for some users who have their devices mounted in a fixed orientation or those that have a visual impairment and finds one orientation easier to use. Therefore websites should support both orientations and adapt accordingly.</p>
          <h4>Understanding WCAG regarding orientation</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/orientation.html">1.3.4: Orientation</a></p>
        </li>
      </ol>

      <h2 id="name">What is your name?</h2>
      <ol>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>First name label not associated with the input field</h3>
          <p>The "First name" <code>label</code> element is missing a "for" attribute and the <code>input</code> element is missing the associated "id" attribute. This means the function or purpose of the input field may not be presented to screen reader users.</p>
          <p>Form labels also provide visible descriptions and provides a larger clickable area for the input field, since clicking on the label will activate it and bring it to focus. This can be helpful for users with impaired motor control.</p>
          <h4>Techniques for using form labels and inputs</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Techniques/html/H44">Using label elements to associate text labels with form controls</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Visually hidden item you can tab onto</h3>
          <p>There is a visually hidden input field that can be tabbed to and is read out by screen readers. This might be used for example to pass data between pages. Although the input field is hidden off screen, it still receives focus. This could confuse keyboard users who are tabbing through the page because the focus would disappear and also screen reader users as it has no label.</p>
          <h4>Understanding WCAG regarding focus order</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/focus-order">2.4.3: Focus order</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Error messaging</h3>
          <p>If you do not enter anything in the first and last name input fields, then you will get an error message.</p>
          <p>Users need to be aware that an error has occurred and can determine what is wrong and there is guidance in the <a href="https://service-manual.nhs.uk/">NHS digital service manual</a> on <a href="https://service-manual.nhs.uk/design-system/components/error-message">error messages</a> and the <a href="https://service-manual.nhs.uk/design-system/components/error-summary">error summary</a> components.</p>
          <p>In this instance the guidance has not been followed correctly - the links in the error summary do not link to the input fields correctly, and the page (tab) title has not been updated to include "Error: " which benefits screen reader users by having that read out as soon as possible.</p>
          <h4>Understanding WCAG regarding error identification</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/error-identification">3.3.1: Error Identification</a></p>
        </li>
      </ol>

      <h2 id="dob">What is your date of birth?</h2>
      <ol>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Wrong page title</h3>
          <p>Some screen readers (like JAWS) read the page title when a page loads. This page title is "What is your name? - Register for our new service" which is incorrect as it should relate to what the page subject is, which in this case is asking what your date of birth is. The page title is the same as the previous page and has not been changed correctly.</p>
          <h4>Understanding WCAG regarding page titles</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/page-titled.html">2.4.2: Page Titled</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>No legend element</h3>
          <p>The input fields are all related to each other so are grouped together using a <code>fieldset</code> element. We can tell visually that they are to do with "date of birth" by the heading. However, it may not be obvious that this is the case for those who cannot see. To associate the input fields with the heading, use a <code>legend</code> element, which provides a label or description for the group. And to fix this page, we would use the <code>H1</code> element inside the <code>legend</code> element, as per the <a href="https://service-manual.nhs.uk/design-system/components/fieldset">digital service manual guidance on fieldset</a>.
          <h4>Techniques regarding fieldsets and legends</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Techniques/html/H71">Providing a description for groups of form controls using fieldset and legend elements</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>The inputs are marked up in a table element</h3>
          <p>A table element has been used to get the positioning and layout correct visually for the date of birth inputs. Although this is valid HTML and would pass any automated tests, you have to consider how a screen reader will read this. In this instance, a screen reader would ignore the fact that the content is inside a table and will read the content in the literal order that it appears in the code. So, for example, VoiceOver on iOS would read this as something like: "day, month, year, day - text field, month - text field, year - text field". It would be preferable to have the text fields read out after each of the labels, rather that reading all of the labels first, which is the order in which they appear in the code.</p>
          <p>The correct code for this can be found in the <a href="https://service-manual.nhs.uk/design-system/components/date-input">digital service manual guidance on date inputs</a>.</p>
          <h4>Information regarding use of tables for layout</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Techniques/failures/F49">Using an HTML layout table that does not make sense when linearized</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Entering content in a date field unexpectedly moves to the next one</h3>
          <p>If you enter 2 characters in the "Day" or "Month" input fields, focus automatically moves to the next input field. Although this may save the user time in not having to tab or click into the next input field, this is unexpected behaviour and could disorientate users if they have not been told of this behaviour before entering content in the input fields.</p>
          <p>This also has the side effect that when using the keyboard, the way this functionality has been written makes it difficult to edit the previous input field if using the shift tab key combination to move back.</p>
          <h4>Understanding WCAG regarding being automatically taken elsewhere on input</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/on-input.html">3.2.2: On input</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Continue button not keyboard focusable</h3>
          <p>Many users with motor disabilities rely on using a keyboard when using the web. Blind users typically use a keyboard to navigate websites. A keyboard user typically uses the tab key to navigate through interactive elements such as links and form elements so would expect to be able to tab to the continue button and then press the enter key to submit the form and continue. In this case the continue button is not focusable which may cause confusion. It is possible to submit the form by pressing enter while on one of the input fields, but the user may not know this.</p>
          <p>The fix is to remove the "tabindex=-1" attribute on the continue button.</p>
          <h4>Understanding WCAG regarding keyboard accessible</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html">2.1.1: Keyboard</a></p>
        </li>
      </ol>

      <h2 id="nhs">Do you know your NHS number?</h2>
      <ol>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Keyboard trap on the modal dialog</h3>
          <p>When using the keyboard, tabbing to the "Where can I find my NHS number?" and activating the link results in a modal dialog appearing. Tabbing to the close button and then trying to activate this results in nothing. There is no response using any key press. This includes pressing the escape button, which is the expected key to press to close the dialog </p>
          <p>Users who only use the keyboard to navigate websites must be able to navigate to and away from content. In this case they are trapped on the "Close" button.</p>
          <h4>Understanding WCAG regarding no keyboard trap</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/no-keyboard-trap.html">2.1.2 No keyboard trap</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>"Continue" button is not accessible to speech recognition</h3>
          <p>Speech-input users, such as those that rely on speech recognition software, interact with web pages using voice commands. For example they can navigate a page, select links, fill in form fields and select buttons by saying the appropriate words. Visual labels help the user with what words to say. For example, if there is a link called "Homepage", then the user could say "Click homepage".</p>
          <p>On this page there is a button which has a visual label of "Continue". Therefore you would expect to be able to activate this by saying  "Click continue" or "Tap continue". However, the button has been coded with a different name that assistive technologies understand, known as its accessible name. In this case the button has an accessible name of "Submit" (via the aria-label attribute) and so the speech recognition software would not understand the command "Click continue" which would cause an issue.</p>
          <p>It is important that the visual text label of an element should match or be included in its accessible name.</p>
          <h4>Understanding WCAG regarding visible labels</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/label-in-name.html">2.5.3 Label in name</a></p>
        </li>
      </ol>

      <h2 id="conditions">Have you ever had any of these conditions?</h2>
      <ol>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Altered tab order of the checkboxes</h3>
          <p>When keyboard tabbing through the options, focus jumps from asthma, to epilepsy, to heart disease and then to high blood pressure. This behaviour is unexpected and may be disorienting. Although this is unlikely to happen in practice, it does highlight the need to be predictable and logical. Users navigating by keyboard expect to move sequentially from left to right and top to bottom through focusable elements such as links and form controls.</p>
          <h4>Understanding WCAG regarding focus order</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/focus-order.html">2.4.3 Focus order</a></p>
        </li>
      </ol>

      <h2 id="answers">Check your answers</h2>
      <ol>
       <li class="nhsuk-u-margin-bottom-8">
          <h3>Poor focus styling on the second change link</h3>
          <p>Those who use the keyboard to operate the page need to be able to visually determine what element has focus. In this case the focus state style may not have a high enough contrast for this to be true for users who have sight loss. Better visual focus would also benefit those with attention limitations and short term memory limitations by being able to discover where the focus is located.</p>
          <h4>Understandng WCAG regarding focus visible</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/focus-visible.html">2.4.7 Focus visible</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Change link - hidden text is incorrect</h3>
          <p>Users of assistive technology may navigate a page by links, moving from one link to the next. This page would present a problem because most of the links are called "Change", which would not make much sense when read out one after another on a screen reader. Visually they do make sense as they appear next to the questions.</p>
          <p>Ideally the link text should be more descriptive, such as "Change name" or "Change date of birth" but that may look strange as the question appears next to the link. Therefore the solution is to visually hide this extra text. However, there is an error on this page in that the "Do you know your NHS number?" change text is "Change date of birth" (the same as the previous one), instead of something like "Change if you know your NHS number".</p>
          <h4>Techniques regarding hiding a portion of link text </h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Techniques/css/C7.html">Using CSS to hide a portion of the link text</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Incorrect heading level hierarchy</h3>
          <p>The heading hierarchy on this page consists of a <code>H1</code> ("Check your answers") going to a <code>H3</code> ("Now send your details"). The second heading should be a <code>h2</code> as it is a direct descendant of the main <code>H1</code> heading. Screen reader users can use headings to navigate the page and use short cut keys to jump quickly from heading to heading. Headings also help them understand the structure of the information on the page. Skipping heading levels can be confusing as users may not be able to navigate as expected and  may think something is missing.</p>
          <h4>Information about headings</h4>
          <p><a href="https://www.w3.org/WAI/WCAG21/Techniques/general/G141">Organising a page using headings</a></p>
        </li>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Justified text</h3>
          <p>Text that is aligned to both the left and right margins forces words and letters to be spaced out more than normal. These spaces create "rivers of white" running down the page, which can make it difficult for people with cognitive disabilities to read.</p>
          <h4>Understanding WCAG regarding visual presentation and information about aligning text</h4>
          <ul>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html">1.4.8 Visual presentation</a></li>
            <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/general/G169">Aligning text on only one side</a></li>
          </ul>
        </li>
      </ol>

      <h2 id="complete">Registration complete</h2>
      <ol>
        <li class="nhsuk-u-margin-bottom-8">
          <h3>Use of capital letters</h3>
          <p>Text in all capital letters can be more difficult to read for some people, with and without disabilities. Although it is not a fail of the guidelines it should be noted that with capitalised text the height of every letter is the same, making words look like an even rectangular shape which can reduce reading speed.</p>
        </li>
        <li>
          <h3>Increasing the font size, line height, spacing, letter spacing and word spacing hides content</h3>
          <p>A user with vision impairments may increase the text size of web pages so they can read the pages easier. Increasing the text size on this page causes the reference number to become hidden, depriving the user of this important piece of information.</p>
          <p>Another way in which the the reference number becomes hidden is if the text spacing increases. Users with visual or cognitive impairments may want to override the default text spacing to make text easier to read and understand. To check this, content and function should remain intact and visible if the user changes:</p>
          <ul class="nhsuk-u-font-weight-normal">
            <li>line height to at least 1.5 times the font size</li>
            <li>spacing following paragraphs to at least 2 times the font size</li>
            <li>letter spacing to at least 0.12 times the font size</li>
            <li>word spacing to at least 0.16 times the font size</li>
          </ul>
          <h4>Understanding WCAG regarding resizing text and text spacing</h4>
          <ul>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/resize-text.html">1.4.4 Resize text</a></li>
            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html">1.4.12 Text spacing</a></li>
          </ul>
        </li>

      </ol>

    </div>

  </div>
{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Home</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/service/testing-notes">Testing notes</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/service/answers">Answers</a></li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
