{% extends 'layout.html' %}
{% set backLinkPage = "step1" %}

{% block pageTitle %}
  What is your name? - Register for our new service - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">What is your date of birth?</h1>

    <form action="/service/step3" method="post">
      <fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
        <span class="nhsuk-hint" id="dob-hint">
          For example, 15 3 1984
        </span>
        <div class="nhsuk-form-group">
          <table class="nhsuk-table--override">
            <tr>
              <th><label class="nhsuk-label nhsuk-date-input__label" for="dob-day">Day</label></th>
              <th><label class="nhsuk-label nhsuk-date-input__label" for="dob-month">Month</label></th>
              <th><label class="nhsuk-label nhsuk-date-input__label" for="dob-year">Year</label></th>
            </tr>
            <tr>
              <td><input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" value="{{ data['dob-day'] }}" type="text" pattern="[0-9]*" inputmode="numeric"></td>
              <td><input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" value="{{ data['dob-month'] }}" type="text" pattern="[0-9]*" inputmode="numeric"></td>
              <td><input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" value="{{ data['dob-year'] }}" type="text" pattern="[0-9]*" inputmode="numeric"></td>
            </tr>
          </table>
        </div>
      </fieldset>
      <button class="nhsuk-button" tabindex="-1">Continue</button>
    </form>

  </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- hack to jump to the next input field or to the continue button -->
<script>
  $('.nhsuk-input').keyup(function (e) {
    if (this.value.length == 2) {
      $(this).parent().next().children('.nhsuk-input').focus();
    }
    if (this.value.length == 4) {
      $('.nhsuk-button').focus();
    }
  });
</script>
{% endblock %}
