{% extends 'layout.html' %}

{% block pageTitle %}
  Testing notes - accessibility training - NHS
{% endblock %}

{% block backLink %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Testing notes</h1>

      <p>To help find accessibility issues you could use the <a href="https://wave.webaim.org/extension/">WAVE browser extension</a> for Chrome or Firefox.</p>
      <p>Please note that WAVE, as with other automated evaluation tools, will not tell you all the accessibility issues that occur on a web page. They can only test some of the accessibility requirements that do not need human intervention. Testing done by humans is essential to ensure an accessible user experience.</p>

      <h2>Testing checklist</h2>

      <ul>
        <li>Does WAVE find any errors?</li>
        <li>Do <a href="https://service-manual.nhs.uk/accessibility/testing#set-page-titles">page titles</a> make sense?</li>
        <li>Are <a href="https://service-manual.nhs.uk/accessibility/testing#use-headings-correctly">headings</a> used correctly?</li>
        <li>Can you access everything using the <a href="https://service-manual.nhs.uk/accessibility/testing#check-keyboard-accessibility">keyboard</a>?</li>
        <li>Are <a href="https://service-manual.nhs.uk/accessibility/testing#label-form-fields-clearly">form fields</a> labeled correctly?</li>
        <li>Are there any <a href="">colour contrast</a> errors or <a href="">reliance on colour alone?</a></li>
      </ul>

      <p>The NHS Digital service manual has further <a href="https://service-manual.nhs.uk/accessibility/testing">guidance on accessibility testing</a> which you could refer to for more checks.</p>

    </div>

  </div>
{% endblock %}
